---
layout: default
title: Careers
description: "Aparicio Lab Research"
group: navigation
navorder: 1
---
{% include JB/setup %}
{% for page in site.categories.careers %}
	{% if page.careers %}
		{% assign careerspage = page %}
	{% endif %}
{% endfor %}

{% for page in site.categories.careers %}
	{% if page.benefits %}
		{% assign benefitspage = page %}
	{% endif %}
{% endfor %}

<div class="row">
	<div class="col-md-12">
		<div class="card bg-light">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="smallhead jumbotron">
							{{ careerspage.content }}
						</div>
					</div>
				</div>
			</div>
		  </div>

	</div>
</div>

<div class = 'bigspacer'></div>



<div class="card-body" style="background-color:light;">


	<div class="container">
		<div class="row">
			<div class="col-lg">
			</div>
			<div class="col-sm">
				<div class="head" style="padding: 10px;">
					<a class='d-flex justify-content-center off' style="text-decoration:none; margin: auto;">Open Positions</a>
				</div>
			</div>
			<div class="col-lg">
			</div>
		</div>
	</div>
	


	<div class="accordion accordion-flush" id="accordionFlushExample">

		{% for job in site.categories.careers %}
			{% if job.job==true %}
				<div class="accordion-item">
					<h2 class="accordion-header" id= "{{ job.title }}">
					<button class="accordion-button collapsed buttonActivate" type="button" data-bs-trigger="hover focus" data-bs-toggle="collapse" data-bs-target="#ID2" aria-expanded="false" aria-controls="ID2">
						<a>{{ job.title }}</a>
						
					</button>
					</h2>

					<div width = '100' class="accordion-collapse collapse accordionContentLocator" aria-labelledby="{{ job.title }}" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">{{ job.content }}</div>
						
						{% if job.applyLink==true %}
							<div class="smallspacer"></div>
							<div class="btn-group" role="group" aria-label="Basic example">
								<a href="{{ job.applyLink }}"><button type="button" class="btn btn-outline-primary">Apply Now</button></a>
							</div>
						{% endif %}
						<div class="smallspacer"></div>

					</div>
				</div>
			{% endif %}
		{% endfor %}

		<script>

		var buttons = document.getElementsByClassName("buttonActivate");
		var content = document.getElementsByClassName("accordionContentLocator");

		for(var i = 0; i < buttons.length; i++){
			buttons[i].setAttribute("aria-controls", 'Q'+String(i));
			buttons[i].setAttribute("data-bs-target", '#' +'Q'+String(i));
		}

		for(var i = 0; i < content.length; i++){
			content[i].setAttribute("ID", 'Q'+String(i));
		}


		</script>
	</div>
  </div>


<div class="container">
	<div class="row">
		<div class="col-lg">
		</div>
		<div class="col-sm">
			<div class="head" style="padding: 10px;">
				<a class = 'd-flex justify-content-center off' style="text-decoration:none; margin: auto;">Alumni</a>
			</div>
		</div>
		<div class="col-lg">
		</div>
	</div>
</div>

As a physician-scientist, the key philosophy of Dr. Aparicio’s program has been to provide a strong multidisciplinary environment for training of highly qualified personnel (HQP). His former trainees (career total 90) have gone on to success in academia: 1 institute director, 3 as PIs and others in medicine or in senior positions in industry or postgraduate education. All of his graduate students have been successful in securing national (CIHR, NSERC) or provincial (Michael Smith Foundation, CBCF BC/Yukon) competitive salary support and two of the four postdoctoral fellows are supported by independent peer reviewed salary awards from international (Australia), national (CBCF) and provincial (MSFHR) funding bodies.  See the stories of some of them:

<div>
	{% for member in site.categories.careers %}
		{% if member.alum == true %}
		{% cycle 'add rows': '<div class="row">', '', '' %}
			<div class="col-md-4 memberbox" style = "padding: 15px;">
				<div class="media">
					<a class="pull-left" href="{{ member.url }}">
						<img width="150" class="media-object" src="{{ member.image }}">
						<br>
					</a>
					<div class="media-body">
						<div class="head media-heading" style="padding: 10px;"><a href="{{ member.url }}" class="off" style="text-decoration:none;">{{ member.title }}</a>
							<p class="note">{{ member.position }}</p>
						</div>
					</div>
				</div>
			</div>
		{% cycle 'close rows': '', '', '</div>' %}
		{% endif %}
	{% endfor %}
</div>

<div class='bigspacer'></div>
<div class='bigspacer'></div>


  <div class="row">
	<div class="col-md-12">
		<div class="card bg-light">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="smallhead jumbotron">
							{{ benefitspage.content }}
						</div>
					</div>
				</div>
			</div>
		  </div>

	</div>
</div>


<div class='bigspacer'></div>
<div class='bigspacer'></div>
